@model UnitProgressViewModel


<div class="unit-container">

    <div class="unit-container-navbar">
        <div class="unit-container-navbar-sectionunit">
            section @Model.Unit.SectionId, unit @Model.Unit.PlaceInSection
        </div>
            
        <div class="unit-container-navbar-title">
            @Model.Unit.Name
        </div>
    </div>



    <div class="unit-container-lessons">
    @foreach (var lesson in Model.LessonProgresses.Keys)
    {
        <div class="lesson-container">
            
            <div class="lesson-container-icon">
                
            </div>
            
            
            <progress class="lesson-container-progress" max="5" value="@Model.LessonProgresses[lesson].GetHashCode()">
                
            </progress>
            
        </div>
    }
    </div>

</div>