@model AccountViewModel


<body>

<div id="content-left">
    <div id="content-left-content">
        
    </div>
</div>

<div id="content-right">
    <div id="content-right-navbar">

    </div>

    <div id="content-right-content">

    </div>
</div>

</body>