<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPT-Poker</title>
    <link rel="stylesheet" href="css/LayoutDesktop.css">
    <link rel="stylesheet" href="css/LayoutTablet.css">
    <link rel="stylesheet" href="css/LayoutMobile.css">
</head>
<body>


    <div id="page">

        <div id="sidebar">
            <div id="sidebar-app-title">
                GPT-Poker
            </div>

            <div id="sidebar-buttons">

                <div class="sidebar-button">
                    <div class="sidebar-button-image"></div>

                    <div class="sidebar-button-text">LEARN</div>
                </div>


                <div class="sidebar-button">
                    <div class="sidebar-button-image"></div>

                    <div class="sidebar-button-text">TOOLS</div>
                </div>


                <div class="sidebar-button">
                    <div class="sidebar-button-image"></div>

                    <div class="sidebar-button-text">LEADERBOARD</div>
                </div>


                <div class="sidebar-button">
                    <div class="sidebar-button-image"></div>

                    <div class="sidebar-button-text">QUESTS</div>
                </div>


                <div class="sidebar-button">
                    <div class="sidebar-button-image"></div>

                    <div class="sidebar-button-text">SHOP</div>
                </div>


                <div class="sidebar-button">
                    <div class="sidebar-button-image"></div>

                    <div class="sidebar-button-text">PROFILE</div>
                </div>


                <div class="sidebar-button">
                    <div class="sidebar-button-image"></div>

                    <div class="sidebar-button-text">SETTINGS</div>
                </div>

            </div>

        </div>



        <div id="content">
            @RenderBody()
        </div>

    </div>

</body>
</html>