.button-lightblue {
    all: unset;
    width: 100%;
    height: 45px;
    text-align: center;
    border-radius: 10px;
    color: #131F24;
    background-color: #48C1F8;
    border-bottom: #1999D6 solid 5px;
    cursor: pointer;
    font-family: Duolingo-Bold, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.input-field {
    width: 100%;
    height: 45px;

    background-color: #202F36;

    border: 2px solid #37464F;
    border-radius: 10px;

    padding: 10px;


    font-family: Duolingo-Regulair, sans-serif;
    font-size: 16px;
}

