.button-lightblue {
    all: unset;
    width: 100%;
    height: 45px;
    text-align: center;
    border-radius: 10px;
    color: #131F24;
    background-color: #48C1F8;
    border-bottom: #1999D6 solid 5px;
    cursor: pointer;
    font-family: Duolingo-Bold, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}


.button-lime {
    all: unset;
    width: 100%;
    height: 45px;
    text-align: center;
    border-radius: 10px;
    color: #131F24;
    background-color: #93D333;
    border-bottom: #79B933 solid 5px;
    cursor: pointer;
    font-family: Duolingo-Bold, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}


.input-field {
    width: 100%;
    height: 45px;

    background-color: #202F36;

    border: 2px solid #37464F;
    border-radius: 10px;

    padding: 10px;
    
    color: #FFFFFF;
    
    font-family: Duolingo-Regulair, sans-serif;
    font-size: 16px;
}



.section-container-unlocked {
    width: 100%;
    height: 240px;

    margin: 30px 0 30px 0;
    padding: 28px;

    background-color: #02AF85;

    border-radius: 18px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-tag-unlocked {
    height: 24px;
    width: max-content;
    padding: 1px 12px 1px 12px;
    
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: rgba(217, 217, 217, 0.24);
    font-family: Duolingo-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

.section-title-unlocked {
    height: 33px;
    width: max-content;

    color: #FFFFFF;
    font-family: Duolingo-Bold, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
}

.section-progress-unlocked {
    display: flex;
    flex-direction: row;
}
.section-progress-unlocked > p {
    margin: 0 0 0 8px;
    font-size: 15px;
    font-family: Duolingo-Bold, sans-serif;
    color: #FFFFFF;
}
.section-progress-unlocked > progress[value] {
    --color: #00c696;
    --background: rgba(38, 54, 38, 0.29); /* the background color */
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;
    height: 19px;
    border-radius: 10px;
    background: var(--background);
}
.section-progress-unlocked > progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
}
.section-progress-unlocked > progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}
.section-progress-unlocked > progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}

.section-button-unlocked {
    all: unset;
    height: 50px;
    width: max-content;
    padding: 0 20px 0 20px;
    
    text-align: center;
    border-radius: 10px;
    color: #02AF85;
    background-color: #FFFFFF;
    border-bottom: #C9C9C9 solid 5px;
    cursor: pointer;
    font-family: Duolingo-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}



.section-container-locked {
    width: 100%;
    height: 240px;

    margin: 30px 0 30px 0;
    padding: 20px 26px 20px 26px;

    background-color: #202F36;
    border: #3A454E solid 2px;

    border-radius: 18px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-tag-locked {
    height: 24px;
    width: max-content;
    padding: 1px 12px 1px 12px;

    text-align: center;
    border-radius: 5px;
    color: #56646C;
    background-color: #212D32;
    font-family: Duolingo-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

.section-title-locked {
    height: 33px;
    width: max-content;

    color: #56646C;
    font-family: Duolingo-Bold, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
}

.section-progress-locked {
    display: flex;
    flex-direction: row;
    align-content: center;
    text-transform: uppercase;
    font-family: Duolingo-Bold, sans-serif;
    font-size: 15px;
    color: #47545C;
}

.section-button-locked {
    all: unset;
    height: 50px;
    width: max-content;
    padding: 0 20px 0 20px;

    text-align: center;
    border-radius: 10px;
    color: #6EBDF4;
    background-color: #161F24;
    border: #37464F solid 3px;
    border-bottom: #37464F solid 5px;
    cursor: pointer;
    font-family: Duolingo-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}